<footer class="row pt-5">
  <div class="col-12">
    <p class="text-right">
      Copyright 2022 PCAT -
      <a href="https://github.com/aihsanbozaci/PCAT" rel="nofollow" target="_parent"
        >Ahmet İhsan Bozacı</a
      >
    </p>
  </div>
</footer>
